/* Importing fonts */
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto.woff2) format('woff2'),
         url(fonts/Roboto.woff) format('woff'),
         url(fonts/Roboto.tff) format('truetype');
  }


/**********/
/*  Body  */
/**********/
/* Removing all margin and padding */
* {
    margin: 0;
    padding: 0;
  }

/* Starting with Body and elements that are in header and footer */
body{
    background-image: url("image/background.jpg");
    font-family: 'Oswald', sans-serif;
    color:#074308;
}

ul {
    list-style-type: none;
  }

li {
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
}

/**********/
/* Header */
/**********/
header{
    background-color: rgba(7,67,8,0.85);
    height: 30px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    text-align: center;
}

header li{
    font-size: 22px;
    display: inline-block;
    width: 170px;
    padding-top: 2px;
}

/**********/
/*  Main  */
/**********/

main{
    background-color: #FFFFFF;
    margin: 80px 50px 0px 50px;
    padding: 50px 0px;
    border : 0.5px solid #074308;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

p{
    color:#63994E;
    font-size: 20px;
    text-align: center;
    padding: 5px 30px;
}

h3{
    font-size: 25px;
    margin-left: 20px;
}

#search{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

/* Drop down buttons */
.select-css {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #63994E;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 200px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #63994E;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* arrow image */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23074308%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  /* Hide arrow icon in IE browsers */
  .select-css::-ms-expand {
    display: none;
  }
  /* Hover style */
  .select-css:hover {
    border-color: #074308;
  }
  /* Focus style */
  .select-css:focus {
    border-color: #074308;
    border-width: 1.5px;
    outline: none;
  }
  
  /* This part can be done in bootstrap later
  option {
    color: #63994E;
    background-color: #FFFFFF;
  }*/

/* Submit button */
.submit{
    color:#FFFFFF;
    background-color:  #074308;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 200px;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #074308;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* Best workshops */
#discover{
    padding-top: 30px;
    padding-bottom: 40px;
    border-top: 0.5px solid  #074308;
    border-bottom: 0.5px solid  #074308;
}

#workshop_list{
    text-align: center;
    padding-top: 20px;
}

.rectangle{
    border: 2px solid #074308;
    display: inline-block;
    width: 150px;
    height: 150px;
}

/**********/
/* Footer */
/**********/

footer{
    background-color: rgba(7,67,8,0.85);
    margin: 0px 50px 50px 50px;
    text-align: center;
    padding-bottom: 10px;
    height: 100px;
}

footer h6{
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline;
    position: relative;
}